nav {
  display: grid;
  grid-template-columns: 5% 80% 10% 5%;
  grid-template-rows: 100%;
  height: 45px;
  background-color: #333333;
}

nav li {
padding: 10px 15px;
}

.droite {
    grid-column: 2;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: white;
  }
.gauche {
  grid-column: 3;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  background-color: #333333;
  color: white;
}

  header {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: #1E93CC;
}

#profil {
  text-align: center;
}

#profil img {
  columns: 1;
  height: 185px;
  margin: 0 auto;
}

.bouton {
  margin-top: 20px;
}
.bouton .button {
  font-size: 23px;
  height: 66px;
  width: 267px;
  text-decoration: none;
  background-color: orange;
  border: white solid 1px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
}
