nav {
  display: grid;
  grid-template-columns: 5% 75% 15% 5%;
  grid-template-rows: 100%;
  height: 45px;
  background-color: #333333;
}

nav li {
padding: 10px 15px;
}
li a {
  text-decoration: none;
  color: white;
}
.gauche a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}
.fa-user-circle {
  text-decoration: none;
}
.droite {
    grid-column: 2;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: white;
  }
.gauche {
  grid-column: 3;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  background-color: #333333;
  color: white;
}

  header {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
  background-color: #1E93CC;
}

#profil {
  text-align: center;
  padding-left: 100px;
}

#profil img {
  columns: 1;
  height: 185px;
  margin: 0 auto;
}

.services {
  padding-left: 100px;
  padding-bottom: 50px;
  }

.bouton {
  margin-top: 35px;
}

.bouton .button {
  font-size: 23px;
  height: 66px;
  width: 267px;
  text-decoration: none;
  background-color: orange;
  border: white solid 1px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
}
.deadlines {
  text-align: center;
  color: black;
  height: 70px;
  font-size: 26px;
}
.container {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 50% 50%;
  height: 380px;
  background-color: #1E93CC;
  color: white;
  font-size: 14px;
  margin-top: -13px;
}

.container h3 {
  font-size: 26px;
}
.cont1 {
  grid-column: 2;
  grid-row: 1;
  margin-top: 25px;
}
.cont2 {
  grid-column: 3;
  grid-row: 1;
  margin-left: 25px;
  margin-top: 25px;
}
.cont3 {
  grid-column: 2;
  grid-row: 2;
}
.cont4 {
  grid-column: 3;
  grid-row: 2;
  margin-left: 25px;
}
.grey {
  font-size: 26px;
  text-align: center;
  background-color: white;
  color: black;
  height: 70px;
}
.sponsors {
  height: 290px;
  background-color: #EEEEEE;
  margin-top: -13px;
  text-align: center;
}
.spon1 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}
.spon2 {
  padding-top: 60px;
}
.spon1 img {
  height: 50px;
}
.spon2 img {
  height: 100px;
}
.buttton {
  width: 100%;
  height: 196px;
  background-color: white;
}
.but3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 35px;
}
.blue1, .blue2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  height: 66px;
  width: 267px;
  background-color: #165882;
  border-radius: 5px;
}
.blue1 a,.blue2 a, .orange a{
  text-decoration: none;
  color: white;
}
.orange {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  height: 66px;
  width: 267px;
  background-color: #E99002;
  border-radius: 5px;
}
#bottom {
  text-decoration: none;
  color: white;
}
